/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f6f9;
}

.global-btn {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #e01212;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 40px;
  border-radius: 3px;
  cursor: pointer;

  display: block;
}

.global-btn:hover {
  background-color: #333;
}

.section-title span {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
  color: #323232;
}

.section-title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 300;
  color: #323232;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  padding-top: 20px;
}

.section-padding {
  padding: 0 80px;
}

/* ==================top-header section css start================= */

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 0 80px;
  border-bottom: 1px solid #ebebeb;
}

.top-header .social-icon a {
  color: #3e444a;
  margin-right: 20px;
  transition: 0.3s;
}

.top-header .social-icon a:hover {
  color: #e01212;
}

.top-header-content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  color: #777777;
}

.top-header-content-list > li {
  cursor: pointer;
  transition: 0.3s;
  line-height: 40px;
}

.top-header-content-list li:hover {
  color: #e01212;
}

.top-header-content-list > li:nth-child(1),
.top-header-content-list > li:nth-child(2) {
  margin-right: 30px;
  position: relative;
}

.top-header-content-list li i {
  font-size: 13px;
  margin-left: 4px;
}

.top-header-content-list > li:nth-child(1)::after,
.top-header-content-list > li:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background: #ebebeb;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.sub-menu {
  position: absolute;
  display: none;
  border-top: 3px solid #e01212;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  width: 120px;
}

.sub-menu::before {
  position: absolute;
  border-bottom: 5px solid #e01212;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  left: 20px;
  top: -7px;
}

.sub-menu li {
  line-height: 30px;
  padding: 5px 15px;
  color: #222;
  font-size: 13px;
  transition: 0.3s;
}

.sub-menu li:nth-child(1) {
  border-bottom: 1px solid #ebebeb;
}
.top-header-content-list li:hover .sub-menu {
  display: block;
}

/* ==================header section css start================= */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04);
  width: 100%;
}

.bars {
  display: none;
}

.bars i {
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

.header img {
  width: 100%;
  transition: 0.3s;
}

.header img:hover {
  opacity: 0.7;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 700px;
  padding: 17px 15px;
  outline: none;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  transition: 0.3s;
}

.search-btn {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  margin: 7px 10px 0 0;
}

.search-form input:focus {
  box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.65);
}

.widget a i {
  padding: 15px;
  border: 1px solid #ddd;
  font-size: 20px;
  border-radius: 50%;
  color: #e01212;
  transition: 0.2s;
  outline: none;
}

.widget a {
  position: relative;
}

.widget a:nth-child(1),
.widget a:nth-child(2) {
  margin-right: 20px;
}

.total-length-show {
  position: absolute;
  right: 0;
  margin-right: 120px;
  background-color: #e01212;
  width: 25px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  padding: 4px;
  border-radius: 50%;
}

.search-form-m-p {
  margin-left: -2000px;
}

/* =============menu section css start============== */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  margin-top: -20px;
}

.menu-list {
  display: flex;
  align-items: center;
  width: 1100px;
}

.menu-list > li {
  padding: 0 25px;
  text-transform: capitalize;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 50px;
  transition: 0.3s;
}

.menu-list li a:hover {
  color: #e01212;
}

.menu-list li a {
  color: #333;
}

.menu-list li a i {
  font-size: 12px;
  margin-left: 5px;
}

.menu-list > li:nth-child(1) {
  margin-left: -30px;
}

.menu .hot-line {
  display: flex;
  align-items: center;
}

.hot-line i {
  margin-right: 15px;
  font-size: 30px;
  color: #e01212;
}

.hot-line p {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.hot-line p span {
  font-size: 15px;
  color: #777777;
}

.sub-menu-2 {
  position: absolute;
  display: none;
  border-top: 3px solid #e01212;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  width: auto;
  z-index: 9999;
}

.menu-list li:hover .sub-menu-2 {
  display: block;
}

.sub-menu-2::before {
  position: absolute;
  border-bottom: 5px solid #e01212;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  left: 20px;
  top: -7px;
}

.sub-menu-2 li {
  line-height: 25px;
  padding: 5px 15px;
  color: #222;
  font-size: 13px;
  transition: 0.3s;
}

.shop-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 250px;
}

.shop-sub img {
  height: 170px;
  width: 250px;
  margin-top: 30px;
}

.shop-sub h5 {
  margin-left: 15px;
}

/* ===========hero section css starts============ */

.hero {
  background: #f5f6f9;
  padding: 20px 80px;
  display: flex;
  justify-content: flex-start;
}

.categories-list li {
  width: 300px;
}

.categories-list li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  text-transform: capitalize;
  border-bottom: 1px solid #ebebeb;
  color: #222;
  font-size: 15px;
  transition: 0.2s;
}

.categories-list li a:hover {
  background: transparent;
  color: #e01212;
  transform: scale(0.9);
}

.categories-list li img {
  width: 32px;
  padding-right: 10px;
}

.categories-list li:nth-child(1) a {
  background: #e01212;
  color: #fff;
  font-weight: 600;
  transform: scale(1);
}

/* =========problem code starts=========== */

.categories-list li:nth-child(1),
.categories-list li:nth-child(4) {
  position: relative;
}

.categories-list li:nth-child(1) i,
.categories-list li:nth-child(4) i {
  position: absolute;
  right: 0;
  margin-right: 10px;
  transform: translateY(160%);
  font-size: 12px;
  color: #777777;
}

.women-sub-items {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 540px;
  flex-wrap: wrap;
  background: #fff;
  padding: 0px 25px 20px 20px;
  text-transform: capitalize;
  position: relative;
  display: none;
}

.women-sub-items::after {
  position: absolute;
  content: "";
  margin-top: 60px;
  margin-left: -120px;
  width: 60px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid transparent;
}

.categories-list li:nth-child(1) {
  position: relative;
}

.categories-list li:nth-child(1):hover .women-sub-items {
  display: block;
}

/* ===============problem code end============== */

.women-sub-items div {
  width: 30%;
}

.women-sub-items div h5 {
  font-size: 16px;
  color: #222;
  font-weight: 600;
  padding: 10px 0;
  transition: 0.3s;
}

.women-sub-items div ul li a {
  color: #4c4c4c;

  font-size: 14px;
}

.women-sub-items div ul li {
  padding: 5px 0;
}

.women-sub-items div ul li a:hover {
  color: #e01212;
  transition: 0.3s;
  transform: scale(0.9);
}

.women-sub-items div:hover h5 {
  color: #e01212;
}

.women-sub-items img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.hero-slider {
  margin-left: 20px;
  background-image: url(img/slide/slide-01.jpg);
  width: 100%;
  background-position: center;
  object-fit: cover;
  width: 1050px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-slider span {
  text-transform: uppercase;
  color: #e01212;
  letter-spacing: 4.7px;
  margin-left: 80px;
}

.hero-slider p {
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 80px;
  letter-spacing: 0.1px;
}

.hero-slider button {
  margin-left: 80px;
}

.shop-btn {
  background: transparent;
  padding: 15px 30px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border: 1px solid #222;
  text-transform: capitalize;
  letter-spacing: 0.1px;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
.shop-btn:hover {
  background: #e01212;
  color: #fff;
  border-color: #e01212;
}

/* =========our facility section css starts=========== */

.our-facility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin: 20px 80px;
}

.facility-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  position: relative;
}

.facility-box:nth-child(1):after,
.facility-box:nth-child(2):after,
.facility-box:nth-child(3):after,
.facility-box:nth-child(4):after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #777777;
  height: 50px;
  top: 40px;
  right: -20px;
  opacity: 0.4;
}

.facility-box img {
  width: 120%;
  padding: 10px 30px 10px 10px;
}

.facility-box span {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  color: #323232;
}

.facility-box p {
  text-transform: capitalize;
  color: #777777;
  font-size: 13px;
}

/* ============banner section css start============== */

.banner {
  padding: 20px 80px;
  width: 100%;
  display: flex;
}

.banner a img {
  width: 100%;
  object-fit: cover;
  background-position: center;
  padding: 0 10px;
}

.banner a:nth-child(1) img {
  padding-left: 0;
}

.banner a:nth-child(3) img {
  padding-right: 0;
}

/* ==========top-categories section css start=========== */

.top-categories {
  padding: 0 80px;
  width: 100%;
}

.categories-product {
  margin: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.categories-pro-box {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 140px;
  padding: 10px 20px;
  border: 1px solid #ebebeb;
  transition: 0.3s;
}

.categories-pro-box:hover {
  transform: scale(1);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.55);
}

.categories-pro-box img {
  width: 100px;
}

.categories-pro-box a span {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 24px;
  color: #323232;
  transition: 0.3s;
}

.categories-pro-box a span:hover {
  color: #e01212;
}

.categories-pro-box p span {
  font-size: 14px;
  color: #666666;
  padding-right: 5px;
}

.categories-pro-box p {
  font-size: 12px;
  color: #777777;
  letter-spacing: 0.1px;
  padding: 5px 0;
  text-transform: capitalize;
}

/* =========recent section css start=========== */
.recent-pro-box {
  background: #fff;
  width: 15%;
  text-align: center;
  padding: 20px;
  display: block;
}

.recent-pro-box img {
  width: 90%;
}

.recent-pro-box button {
  display: none;
  overflow: hidden;
  transition: 0.3s;
}

.recent-pro-box:hover button {
  display: initial;
  transition: all 0.4s;
  transform: scale(1);
}

/* ==========product list section=============  */

/* =====top flash sub-section===== */

.product-list-container {
  margin: 20px 0 20px 0;
  display: flex;
}

.pro-container-banner {
  width: 25%;
  height: 335px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-list-side {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 160px;
  width: 31%;
  margin: 0 0 20px 20px;
  transition: 0.3s;
  position: relative;
}

.product-list-side:hover {
  transform: scale(1);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.55);
}

.product-list-side img {
  width: 110px;
  transition: 0.3s;
}

.product-list-side:hover img {
  transform: scale(0.9);
}

.product-list-side span a {
  margin-bottom: 10px;
  font-size: 12px;
  color: #a9a9a9;
  text-transform: capitalize;
  transition: 0.3s;
}

.product-list-side span a:hover {
  color: #e01212;
}

.product-list-side p a {
  font-size: 16px;
  color: #205fc8;
  text-transform: capitalize;
  transition: 0.3s;
}

.product-list-side p a:hover {
  color: #e01212;
}

.product-list-side .stars i {
  font-size: 14px;
  color: #a9a9a9;
  opacity: 0.5;
}

.cart-btn {
  visibility: hidden;
  padding: 10px;
  margin-left: 45px;
  margin-top: 5px;
}

.product-list-side:hover .cart-btn {
  visibility: visible;
}

.money-div del {
  font-size: 14px;
  color: #777777;
  padding-right: 10px;
}

.money-div p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.sale span {
  background: #62ab00;
  font-size: 12px;
  color: #fff;
  padding: 4px 6px;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  left: 80px;
  border: none;
}

.men-women-link span {
  text-transform: capitalize;
  color: #777777;
  font-size: 14px;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.men-women-link {
  position: absolute;
  right: 75px;
  margin-top: 40px;
}

.men-women-link span:hover {
  color: #e01212;
}

/* ========blog-newsletter section css starts=========== */

.blogs-newsletter-container {
  display: flex;
}

.blog-section-side {
  width: 49%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 50px;
}

.blog-card img {
  width: 100%;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-content span a {
  text-transform: uppercase;
  color: #ef2f41;
  font-size: 14px;
  transition: 0.3s;
  display: block;
}

.blog-card-content span a:hover {
  color: #222;
}

.blog-card-title {
  color: #333;
  font-size: 16px;
  transition: 0.3s;
  text-transform: capitalize;
  display: block;
  margin-top: 5px;
}

.blog-card-title:hover {
  color: #e01212;
}

.admin-date {
  margin-top: 5px;
}

.admin-date a i,
.admin-date span i {
  font-size: 12px;
  padding-right: 2px;
}

.admin-date a,
.admin-date span {
  font-size: 12px;
  text-transform: capitalize;
  padding-right: 10px;
  color: #333;
  transition: 0.3s;
}

.admin-date a:hover {
  color: #e01212;
}

.blog-card p {
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  margin: 10px 0 15px 0;
}

.read-more-link {
  font-size: 15px;
  text-transform: capitalize;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #333;
  transition: 0.3s;
}

.read-more-link:hover {
  color: #e01212;
}

.newsletter-section-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 468px;
  background-image: url(/img/blog-newletter/newsletter-bg.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  z-index: 1;
  margin: 20px 0 0 20px;
}

.newsletter-section-side::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.newsletter-section-side h4 {
  font-size: 28px;
  font-weight: 600;
  color: #323232;
  text-transform: capitalize;
  margin-top: 60px;
  padding-bottom: 10px;
}

.newsletter-section-side p {
  font-size: 14px;
  color: #777777;
}

.follow-us-side p:nth-child(1) {
  font-size: 25px;
  color: #323232;
  font-weight: 300;
  padding-bottom: 5px;
}

.follow-us-side p:nth-child(1) span {
  font-weight: 600;
}

.social-icon {
  margin-top: 15px;
}

.social-icon img {
  padding: 5px 5px;
  transition: 0.3s;
}

.social-icon img:hover {
  opacity: 0.7;
}

.newsletter-form {
  position: relative;
  margin: 10px 0 40px 0;
}

.newsletter-form input {
  width: 600px;
  padding: 17px 15px;
  outline: none;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  transition: 0.3s;
  background: #fff;
}

.search-btn {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  margin: 7px 10px 0 0;
}

/* =============footer section css starts============== */

.footer {
  background: #394150;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-left-side {
  width: 30%;
  vertical-align: middle;
}

.footer-left-side p {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  line-height: 23px;
  margin: 20px 0;
}

.footer-left-side span {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  display: block;
  padding-bottom: 15px;
}

.footer-right-side {
  width: 68%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.footer-right-side h5 {
  text-transform: capitalize;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.footer-right-side li {
  margin-top: 10px;
  padding: 4px 0;
}

.footer-right-side li a {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  text-transform: capitalize;
}

.footer-right-side li a:hover {
  opacity: 1;
}

/* copyright section css start */

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #394150;
}

.copyright p {
  padding: 20px 0;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
}

.copyright p a {
  color: #ef2f41;
}

.copyright p:nth-child(2) a {
  padding: 0 20px;
}

/* Media Query for Mobile Devices */
@media (max-width: 477px) {
  .top-header {
    padding: 0 10px;
    font-size: 12px;
  }
  /*======= header section======= */
  .bars {
    display: initial;
  }
  .search-form {
    display: none;
  }
  .header {
    padding: 10px 0;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 799px) {
  .social-icon {
    display: none;
  }
  .top-header {
    justify-content: center;
  }

  /* ======header section=====  */
  .bars {
    display: initial;
  }
  .search-form {
    display: none;
  }
  .widget a:nth-child(1),
  .widget a:nth-child(2) {
    display: none;
  }
  .header {
    padding: 10px 40px;
  }
  .widget a i {
    padding: 10px;
  }
  .widget a::before {
    width: 40%;
    font-size: 10px;
    margin-left: -2px;
  }
  .search-form-m-p {
    width: 100%;
    background-color: #e01212;
    padding: 10px 15px;
    position: relative;
    margin-left: 0;
  }

  .search-form-m-p i {
    background-color: #ededed;
    font-size: 20px;
    color: #333;
    padding: 11px;
    border-radius: 3px;
    position: absolute;
    margin-left: -40px;
  }

  .search-form-m-p input {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
  }

  /* menu section */
  .menu {
    display: none;
  }
  /* hero section */

  .menu-area {
    display: none;
  }
  .hero {
    background: #f5f6f9;
    padding: 20px 10px 0 10px;
  }
  .hero-slider {
    margin-left: -5px;
    height: 450px;
  }

  /* facility section */

  .our-facility {
    display: none;
  }

  /* banner section */
  .banner {
    padding: 20px 10px;
  }
  .banner a:nth-child(2) img {
    padding: 0 10px;
  }
  /* top categorie section */
  .top-categories {
    padding: 0 10px;
  }
  .categories-pro-box img {
    width: 70px;
  }
  .categories-pro-box a span {
    font-size: 14px;
  }
  /* product list section */
  .pro-container-banner {
    display: none;
  }
  .section-padding {
    padding: 0 10px;
  }
  .product-list-side {
    height: 160px;
    width: 47%;
  }
}

/*======================= cart css =====================*/

.blur-section {
  width: calc(100vw - 17px);
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8a8787c7;
  visibility: hidden;
}

.cart {
  display: flex;
  gap: 30px;
  padding: 20px;
  width: 80vw;
  background: #f5f6f9;
  position: absolute;
  z-index: 10;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 150px;
}

.product-cart-side {
  width: 55vw;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.product-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
}

.product-info-title > p {
  text-transform: uppercase;
  font-weight: 600;
}

.cart-product-list {
  margin-top: 20px;
}

.cart-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  padding: 0 20px;
}

.product-remove {
  background-color: #f5f6f9 !important;
  margin-right: 15px;
  padding: 10px 12px;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  color: red !important;
}

.product-remove:hover {
  background-color: red !important;
  border: 1px solid transparent;
  color: #fff !important;
}

.cart-product-item img {
  width: auto;
  max-width: 60px;
  height: auto;
}

.cart-product-name {
  width: 200px;
}
.cart-product-input-number {
  height: 25px;
  width: 50px;
}

.btn-plus-minus {
  width: 40px;
  height: 25px;
  cursor: pointer;
  font-weight: 600;
}

.coupon-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.coupon-input-class {
  outline: none;
  padding: 4px 10px;
  height: 35px;
  background-color: transparent;
  border: 0.5px solid gray;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}

.coupon-input-class::placeholder {
  font-size: 14px;
}

.coupon-top-border {
  width: 90%;
  margin: 0 auto;
}

.total-price-side {
  width: 20vw;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: fit-content;
  padding-bottom: 15px;
}

.cart-total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}

.cart-total-item-name {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  gap: 20px;
}

.cart-total-item-name:nth-of-type(2) {
  color: red;
}

.total-price-side button {
  margin: 0 auto;
  margin-top: 40px;
}

.remove-cart-button {
  position: absolute;
  right: 0;
  margin-right: -30px;
  top: 0;
  margin-top: -15px;
}

.cart-body-remove-button {
  background-color: red;
  color: #fff;
}
.cart-body-remove-button:hover {
  background-color: rgb(241, 62, 62);
}
